@charset "UTF-8";
@use "msg-config" as conf;

.hero {
	&-section {
		&:before {
			transition: 1s;
		}
		&.init {
			&:before {
				filter: blur(1rem);
			}
			.hero-section {
				&__logo, &__heading {
					> * {
						opacity: 0;
					}
				}
				&__logo {
					transform: translateX(-15%);
					> img {
						transform: translateX(-15%);
					}
				}
				&__heading {
					transform: translateX(15%);
					> span {
						transform: translateX(15%);
					}
				}
			}
		}
		&__logo, &__heading {
			transition: 0.5s;
			transition-delay: 0.3s;
		}
		&__logo {
			> img {
				transition: 1.0s;
				transition-delay: 0.3s;
			}
		}
		&__heading {
			> span {
				transition: 1.0s;
				transition-delay: 0.3s;
			}
		}
	}
}

#block {
	&-2nd {
		.quick-tab {
			> .btn {
				&.active {
					color: conf.$light !important;
					> span {
						background-color: conf.$base !important;
					}
				}
			}
		}
	}
}

.topic-tab-panel {
	&.active {
		z-index: 10;
	}
	&:not(.active) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		pointer-events: none !important;
		> .card-anchor {
			opacity: 0;
			transform: scale(1.15);
		}
	}
	> .card-anchor {
		transition: 0.5s;
		&:nth-child(1) { z-index: 3; }
		&:nth-child(2) { z-index: 2; transition-delay: 0.1s; }
		&:nth-child(3) { z-index: 1; transition-delay: 0.2s; }
		&:nth-child(4) {  transition-delay: 0.3s; }
	}
}

#about-us {
	&:before {
		transition: 1s;
	}
	&.ani-init {
		&:before {
			filter: blur(1rem);
		}
	}
}