@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply relative;
    }

    .block-box {
        @apply py-10 md:py-20 xl:py-32;
    }

    .remove {
        @apply
            relative
            overflow-hidden
            block
            w-full
            h-0
            text-[0.5em]
            text-left
            indent-[-9999px]
            bg-center
            bg-no-repeat
            bg-cover
    }
}
@layer utilities {
    @screen md {
        .leading-relaxed {
            line-height: 1.84;
        }
    }
}

@screen sm { /* 640px以上で適用 */
  .container { max-width: 640px; }
}
@screen md { /* 768px以上で適用 */
  .container { max-width: 650px; }
}
@screen lg { /* 992px以上で適用 */
  .container { max-width: 870px; }
}
@screen xl { /* 1200px以上で適用 */
  .container { max-width: 1070px; }
}
@screen 2xl { /* 1367px以上で適用 */
  .container { max-width: 1200px; }
}